@model IEnumerable<Universidad.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

@section Css {
    <link rel="stylesheet" href="~/css/toast_datos.css" />
}

<h4 class="text-center text-muted">Listado de Materias</h4>


<table class="table row-border hover ui" id="table_teacher">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Cupo Maximo</th>
            <th>Acción</th>
        </tr>
    </thead>
</table>

@*Toast de Respuesta*@
<div role="alert" id="mitoast2" aria-live="assertive" aria-atomic="true" class="toast justify-content-center">
    <div class="toast-header bg-primary text-white" id="header_toas">
        <!-- Nombre de la Aplicación -->
        <strong class="mr-auto">Universidad</strong>
        <!-- Tiempo del Evento realizado -->
        <small>Cerrar</small>
        <!-- Botón para Cerrar el Toast -->
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Cerrar" onclick="cerrarToast()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="toast-body" >
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Materia</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Cupo Maximo</th>
                    <th>Profesor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span id="span_materia"></span></td>
                    <td><span id="span_inicio"></span></td>
                    <td><span id="span_fin"></span></td>
                    <td><span id="span_max"></span></td>
                    <td><span id="span_profesor"></span></td>
                </tr>
            </tbody>
        </table>        
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    var table;
    $(document).ready(function () {
        table = $('#table_teacher').DataTable({
            destroy: true,
            responsive: true,
            ajax: {
                type: "POST",
                url: "/Subject/Lista",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
            },
            columns: [
                { "data": "name" },
                { "data": "start_time" },
                { "data": "end_time" },
                { "data": "max_flake" },
                {
                    "data": "id_subject", "render": function (data) {
                        return "<a class='btn btn-success text-white' onClick=verMateria(" + data + ")>Ver +</a>&nbsp;<a href='/Subject/SignOn/" + data + "' class='btn btn-info text-white'>Inscribirse</a>";
                    }
                }

            ]
        });

    });

    function verMateria(id) {
        $.ajax({
            type: "POST",
            url: "/Subject/VerSubject/" + id,
            data: "{Id " + id + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.isSuccess) {
                    console.log(response.subjectVer);
                    $("#span_materia").html(response.subjectVer.name);
                    $("#span_inicio").html(response.subjectVer.start_time);
                    $("#span_fin").html(response.subjectVer.end_time);
                    $("#span_max").html(response.subjectVer.max_flake);
                    $("#span_profesor").html(response.subjectVer.profe.name + ' ' + response.subjectVer.profe.last_name);
                    mostrarToast();
                } else {
                    var header = document.getElementById('header_toas');
                    header.className = header.className.replace("bg-primary", "bg-danger");
                    $('#mensaje').html("<p>" + response.message + "</p>");
                    mostrarToast();
                }
            },
            error: function (request, status, error) {

                alert('Error');

            }
        });
    }

    // Con esta función se muestra el Toast
    function mostrarToast() {
        var toast = document.getElementById("mitoast2");
        toast.className = "mostrar";        
    }

    // Con esta función se cierra el Toast
    function cerrarToast() {
        var toast = document.getElementById("mitoast2");
        toast.className = "cerrar";
        toast.className = toast.className.replace("cerrar", "");
    }
</script>
}
